micronaut:
  application:
    name: orquestrador
  server.port: 8082

kafka.bootstrap.servers: localhost:9092

services:
  kafka:
    topic:
      trasacao: "transacao"

  contadigital:
    baseUri: "http://localhost:8081/api/v1/contadigital/"
    debita.urn: "{numeroConta}/creditar"
    credita.urn: "{numeroConta}/debitar"